<component name="ArtifactManager">
  <artifact type="war" name="spring-mvc-crud:war">
    <output-path>$PROJECT_DIR$/PP_2_3_1_spring-mvc-crud/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring-mvc-crud</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring_mvc_crud.war">
      <element id="artifact" artifact-name="spring-mvc-crud:war exploded" />
    </root>
  </artifact>
</component>